.form-group {
  margin-bottom: 15px;
}

.comp_fe_text-field {
  .form-group {
    label {
      &.form-label {
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      &.error-label {
        font-size: 11px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .form-control {
      display: block;
      width: calc(100% - 26px);
      height: 34px;
      padding: 0 12px;
      font-size: 13px;
      border-radius: 4px;
    }
  }
}

.comp_fe_password-field {
  .form-group {
    position: relative;

    label {
      &.form-label {
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      &.error-label {
        font-size: 11px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .form-control {
      display: block;
      width: calc(100% - 56px);
      height: 34px;
      padding: 0 42px 0 12px;
      font-size: 13px;
      border-radius: 4px;
    }

    button {
      position: absolute;
      right: 1px;
      bottom: 1px;
      height: 34px;
      width: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-top: none;
      border-right: none;
      border-bottom: none;
      border-radius: 0 3px 3px 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.comp_fe_choice-field {
  .form-group {
    label {
      &.form-label {
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      &.error-label {
        font-size: 11px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .form-control {
      display: block;
      width: 100%;
      height: 34px;
      padding: 0 8px;
      font-size: 13px;
      border-radius: 4px;
    }
  }
}

.comp_fe_markdown-field {
  .rc-md-editor {
    border-radius: 3px;
    overflow: hidden;

    .rc-md-navigation {
      border-radius: 3px 3px 0 0;
    }

    .navigation-nav {
      &.right {
        .button-wrap {
          .button {
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .form-group {
    .title-area {
      display: flex;
      margin-bottom: 5px;
      align-items: center;
      justify-content: space-between;

      .md-link-text {
        font-size: 11px;
        text-align: right;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          text-decoration: underline;
        }

        .fas {
          margin-left: 5px;
        }
      }
    }

    label {
      &.form-label {
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      &.error-label {
        font-size: 11px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .form-control {
      display: block;
      width: calc(100% - 26px);
      height: 34px;
      padding: 0 12px;
      font-size: 13px;
      border-radius: 4px;
    }
  }
}

.comp_fe_tags-field {
  .form-group {
    .title-area {
      display: flex;
      margin-bottom: 5px;
      align-items: center;
      justify-content: space-between;
    }

    label {
      &.form-label {
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
      }

      &.info-text {
        font-size: 11px;
        text-align: right;
        cursor: pointer;
      }

      &.error-label {
        font-size: 11px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .form-control {
      display: block;
      width: calc(100% - 26px);
      height: 34px;
      padding: 0 12px;
      font-size: 13px;
      border-radius: 4px;
    }
  }

  .tags-input-main-container {
    display: flex;
    align-items: center;
    font-size: 13px;
    border-radius: 3px;
    flex-wrap: wrap;
    padding: 3px;

    .tag-wrapper {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      margin: 3px;
      border-radius: 2px;
      user-select: none;

      .tag-text {
        padding: 4px 7px;
      }

      .close-link {
        display: flex;
        width: 15px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .input-container {
      margin-left: 3px;
      position: relative;

      .form-element {
        padding: 4px 0;
        font-size: 12px;
        margin: 4px 3px;
        border: none;
      }

      .auto-suggestion-container {
        position: absolute;
        margin-left: -7px;
        margin-top: 5px;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        border: none;
        z-index: 2;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            padding: 8px 12px;
            cursor: pointer;

            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}

.comp_fe_command-field {
  .full {
    .command-container {
      width: 100%;
      height: 100% !important;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;

      .body {
        height: 100%;
        textarea {
          font-family:monospace;
        }
      }
    }
  }

  .form-group {
    label {
      &.form-label {
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      &.error-label {
        font-size: 11px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .form-control {
      display: block;
      width: calc(100% - 26px);
      height: 34px;
      padding: 0 12px;
      font-size: 13px;
      border-radius: 4px;
    }
  }

  .command-container {
    border-radius: 3px;
    overflow: hidden;

    .header {
      padding: 0 2px 0 5px;
      border-radius: 3px 3px 0 0;
      display: flex;
      flex-direction: row;

      .navigation-nav {
        display: flex;
        flex-direction: row;

        &.right {
          margin-left: auto;

          .rmel-iconfont {
            font-size: 18px;
          }
        }
      }

      .button {
        font-size: 13px;
        height: 36px;
        padding: 0 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          height: 14px;
        }
      }
    }

    .body {
      height: 150px;
      overflow: hidden;

      textarea {
        border: none;
        resize: none;
        padding: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        font-family:monospace;
      }
    }
  }
}

.btn {
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 13px;
}

.comp_fe_search-field {
  .search-container {
    position: relative;

    .search-icon-container {
      position: absolute;
      top: 5px;
      left: 6px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    .clear-icon-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 27px;
      height: 25px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    .form-control {
      //width: 500px;
      min-width: 400px;
      border-radius: 4px;
      font-size: 12px;
      height: 24px;
      padding: 0 28px;
    }
  }
}