.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s, visibility -0.3s linear 0.5s;

    &.loading {
        opacity: 1;
        visibility: visible;


        .loading-screen-content {
            display: none !important;
        }
    }

    .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%, -50%);

        img {
            height: 30%;
            width: 30%;
            margin-bottom: 30px;
            border-radius: 10%;
        }

        span {
            border-radius: 10px;
        }
    }
}