.settings-modal {
  .modal-content {
    .modal-body {
      padding: 0 !important;
    }
  }

  .tabs-header-container {
    * {
      user-select: none;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        display: flex;
        cursor: pointer;
        padding: 10px 16px;
        font-size: 13px;
      }
    }
  }

  .tabs-content-container {
    min-height: 432px;

    .content {
      display: none;
      padding: 15px;

      * {
        user-select: none;
      }

      &.active {
        display: block;
      }

      .sub-title {
        font-size: 14px;
        font-weight: bold;
      }

      .info {
        font-size: 11px;
        margin: 5px 0;
      }

      .form-control {
        &:read-only {
          font-size: 12px;
        }
      }

      .storage-directory-container {
        .form-container {
          display: flex;

          .input-container {
            display: flex;
            flex: 1;

            .fe_text-field {
              width: 100%;

              .form-control {
                height: 32px;
              }
            }
          }

          .buttons-container {
            button {
              margin-left: 7px;
              width: 140px;
            }
          }
        }
      }

      .storage-directory-backups-container {
        .form-container {
          display: flex;

          .input-container {
            display: flex;
            flex: 1;

            .fe_text-field {
              width: 100%;

              .form-control {
                height: 32.5px;
              }
            }
          }

          .buttons-container {
            button {
              margin-left: 7px;
              width: 140px;
            }
          }
        }
      }

      .storage-restore-container {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          border-radius: 4px;
          overflow: auto;
          height: 175px;

          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 6px 8px;
            font-size: 12px;

            .name {
              font-family: monospace;
            }

            .time-ago {
              color: #bbbbbb;
              font-family: monospace;
            }

            span {
              cursor: pointer;
            }
          }
        }
      }
    }

    .about-section {
      text-align: center;

      * {
        font-size: 13px;
        user-select: none;
      }

      .product-name {
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;

        small {
          font-size: 11px;
        }
      }

      .created-by {
        display: flex;
        justify-content: center;
        margin-top: 32px;

        .text {
          margin-right: 5px;
        }

        .author {
          font-weight: bold;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .description {
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 15px;
      }

      .link-list {
        display: flex;
        flex-direction: column;

        .link {
          margin-top: 7px;
          font-weight: bold;
          cursor: pointer;
          display: inline-block;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .update-section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      * {
        user-select: none;
      }

      .info {
        font-size: 13px;
      }
    }

    .theme-section {
      text-align: center;

      * {
        user-select: none;
      }

      ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 15px;
          cursor: pointer;

          &.active {
            .image-container {
              border: 3px solid red;
            }
          }

          .image-container {
            border: 3px solid transparent;
            width: 200px;
            height: 80%;

            img {
              width: 100%;
            }
          }

          .text-container {
            font-size: 14px;
            margin-top: 8px;
            font-weight: bold;
          }
        }
      }
    }
  }
}