$whiteBgColor: #fff;

$primaryBackgroundColor: #333842;
$primaryBorderColor: #5d6064;
$primaryTextColor: #eeeeee;
$primaryDarkTextColor: #f5f5f5;
$primaryGhostTextColor: #bbbbbb;

$menuItemHoverBgColor: rgba(225, 225, 225, 0.1);
$activeBackgroundColor: #8a8500;
$activeBackgroundTextColor: #dddddd;

$snippetBgColor: #282C34;
$snippetBorderColor: #40444d;
$snippetBgHoverColor: #333842;
$snippetTagBgColor: #383c44;

$footerBorderColor: #1b1b1c;

$closeWindowBgColor: #d6672b;
$closeWindowBgHoverColor: #e4763b;

$modalOverlayBackground: rgba(74, 74, 74, 0.5);
$modalBackground: #21252B;

$formGroupError: #F44336;

$btnSuccess: #0078d4;
$btnDanger: #da4453;

$scrollbarTrackBgColor: #21252B;
$scrollbarThumbColor: rgba(255, 255, 255, 0.25);
$scrollbarThumbHoverColor: #666666;

$loadingScreenBgColor: #272727;

body {
  &.dark-theme {
    @import './components/loading-screen.scss';

    @import './components/scrollbar.scss';

    @import './components/top-menu.scss';

    @import './components/main-container.scss';

    @import './components/search-input.scss';

    @import './components/sidebar.scss';

    @import './components/command-list.scss';

    @import './components/footer.scss';

    @import './components/confirm-dialog.scss';

    @import './components/modal.scss';

    @import './components/form-group.scss';

    @import './components/button.scss';
  }
}