$whiteBgColor: #fff;

$primaryBackgroundColor: #F8F8FA;
$primaryBorderColor: #e4e4e4;
$primaryTextColor: #666666;
$primaryDarkTextColor: #282C34;
$primaryGhostTextColor: #777777;

$menuItemHoverBgColor: rgba(0, 0, 0, 0.1);
$activeBackgroundColor: #ccc72a;
$activeBackgroundTextColor: #21252b;

$snippetBgColor: #ffffff;
$snippetBorderColor: #dfdfdf;
$snippetBgHoverColor: #F8F8FA;
$snippetTagBgColor: #f3f3f3;

$footerBorderColor: #F8F8FA;

$closeWindowBgColor: #d6672b;
$closeWindowBgHoverColor: #e4763b;

$modalOverlayBackground: rgba(0, 0, 0, 0.5);
$modalBackground: #fff;

$formGroupError: #F44336;

$btnSuccess: #0078d4;
$btnDanger: #da4453;

$scrollbarTrackBgColor: #f1f1f1;
$scrollbarThumbColor: rgba(0, 0, 0, 0.25);
$scrollbarThumbHoverColor: #666666;

body {
  &.light-theme {
    @import './components/scrollbar.scss';

    @import './components/top-menu.scss';

    @import './components/main-container.scss';

    @import './components/search-input.scss';

    @import './components/sidebar.scss';
    
    @import './components/command-list.scss';

    @import './components/footer.scss';

    @import './components/confirm-dialog.scss';

    @import './components/modal.scss';

    @import './components/form-group.scss';

    @import './components/button.scss';
  }
}