.content-container {
  .content-header {
    background: $snippetBgColor;
    border-bottom: 1px solid $snippetBorderColor;

    .left-side {
      .title-header {

        svg,
        path {
          fill: $primaryGhostTextColor !important;
        }

        .title {
          color: $primaryTextColor;
        }
      }

      .sub-text {
        color: $primaryGhostTextColor;
      }
    }
  }
}

.command-item {
  .sub-container {
    border-bottom: 1px solid $snippetBorderColor;
    background: $snippetBgColor;
    transition: 0.15s all ease-in-out;

    &:hover {
      background: $snippetBgHoverColor;
    }

    .right-side {

      svg,
      path {
        fill: $activeBackgroundColor !important;
      }
    }

    .code {
      color: $primaryTextColor;

      pre {
        background: transparent !important;
        padding: 0px !important;
      }
    }

    .title {
      color: $primaryTextColor;

      span {
        vertical-align: top;
        margin-left: 5px;
      }
    }

    .tags-list {
      li {
        background: $snippetTagBgColor;
        color: $primaryTextColor;
        transition: 0.2s all ease-in-out;

        &:hover {
          background-color: $menuItemHoverBgColor;
        }
      }
    }
  }

  .command-list-menu {
    li {

      svg,
      path {
        fill: $activeBackgroundColor !important;
      }

      &.favourite-true {
        // svg, path {
        //   fill: $activeBackgroundColor !important;
        // }
      }

      &.favourite-false {
        svg {
          // stroke: #a0a0a0;
        }
      }
    }
  }
}

.command-details-modal {
  .modal-body {
    .title {
      color: $primaryTextColor;
      user-select: none;
    }

    .command-container,
    .tags-container,
    .command-params-container,
    .description-container {
      border-bottom: 1px solid $primaryBorderColor;
    }

    .description-container {
      .description-text {
        color: $primaryDarkTextColor;
      }
    }

    .tags-container {
      ul {
        li {
          background: $snippetTagBgColor;
          color: $primaryTextColor;
          transition: 0.2s all ease-in-out;

          &:hover {
            background-color: $menuItemHoverBgColor;
          }
        }
      }
    }

    .command-container {
      .code {
        color: $primaryGhostTextColor;

        span {
          font-weight: bold;
          color: $formGroupError;
        }
      }
    }

    .command-params-container {
      .form-label {
        color: $primaryDarkTextColor;
      }
    }
  }
}