.comp_fe_search-field {
    .search-container {
        .search-icon-container {

            svg,
            path {
                fill: $primaryGhostTextColor !important;
                margin-top: 2px;
            }
        }

        .clear-icon-container {

            svg,
            path {
                fill: $closeWindowBgColor !important;
                margin-top: 6px;
            }
        }

        .form-control {
            background: transparent;
            border: 1px solid $primaryBorderColor;
            color: $primaryTextColor;
            padding-left: 35px;
            height: 30px;

            &::placeholder {
                color: $primaryGhostTextColor;
            }
        }
    }
}