.code {
    color: $primaryTextColor;

    pre {
        background: transparent !important;
        padding: 0px !important;

        code {
            white-space: break-spaces !important;
            word-break: break-word !important;
        }
    }
}